<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}">
    <title>Broken Access Control</title>
  </head>
  <body>
    <div class="container-fluid">
        <h4 class="text-center">Red = Vulnerable Access Control</h2>
        <hr>
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Method</th>
            <th>URL</th>
            <th>Response Code [Orig.]</th>
            <th>Response Code [Mod.]</th>
            <th>Content-Length [Orig.]</th>
            <th>Content-Length [Mod.]</th>
          </tr>
        </thead>
        <tbody>
          {% for element in origReq %}
          <!-- and (element.0 != 0 and element.0 != 'OPTIONS') -->
            <tr onclick="window.open('/flow/{{ element.7 }}','_blank')" class="{% if (element.2 == element.4) and (element.0 != 0 and element.0 != 'OPTIONS') and (element.3 == element.5 or element.5 > 200) %} red {% endif %}">
              <td>{{ element.0 }}</td>
              <td style="max-width: 800px; word-wrap: break-word;">{{ element.1 }}</td>
              <td>{{ element.2 }}</td>
              <td>{{ element.4 }}</td>
              <td>{{ element.3 }}</td>
              <td>{{ element.5 }}</td>
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>

      <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
          $('#data').DataTable({
            "scrollX": true,
            "scrollY": "90%",
            "ordering": false,
            "scrollCollapse": true
          });
        });
      </script>
</body>
</html>
